<html>
  <!-- Compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll("select");
      var instances = M.FormSelect.init(elems, options);
    });
  </script>
  <!--Import Google Icon Font-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $.getJSON("/category/displayJSON", { ajax: true }, function (result) {
        console.log(result);
        if (result.status) {
          result.data.forEach((item, index) => {
            $("#categoryid").append(
              $("<option>").text(item.categoryname).val(item.categoryid)
            );
          });
          $("select").formSelect();
        }
      });

      setTimeout(() => {
        alert($("#subcategoryid").val());
        var urlParams = new URLSearchParams(window.location.search);
        console.log(urlParams.get("pid"));
        $.getJSON(
          "/subcategory/displayJSONbyproductid",
          { ajax: true, pid: urlParams.get("pid") },
          function (result) {
            if (result.status) {
              alert($("#subcategoryid").val());
              result.data.forEach((item, index) => {
                $("#subcategoryid").append(
                  $(`<option>`)
                    .text(item.subcategoryname)
                    .val(item.subcategoryid)
                );
              });
              $("select").formSelect();
              alert($("#subcategoryid").val());
            }
          }
        );
      }, 2000);

      $("#categoryid").change(function () {
        $("#subcategoryid").empty();
        $("#subcategoryid").append($("<option>").text("choose subcategory"));
        $.getJSON(
          "/subcategory/displayJSON",
          { ajax: true, cid: $("#categoryid").val() },
          function (result) {
            if (result.status) {
              result.data.forEach((item, index) => {
                $("#subcategoryid").append(
                  $("<option>")
                    .text(item.subcategoryname)
                    .val(item.subcategoryid)
                );
              });
              $("select").formSelect();
            }
          }
        );
      });
    });
  </script>

  <script>
    $(document).ready(function () {
      $("select").formSelect();
    });
  </script>

  <style>
    .mainconatiner {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #2f3640;
      height: 100vh;
      width: 100vw;
    }

    .subcontainer {
      background-color: #dcdde1;
      border-radius: 10px;
      width: 50%;
    }

    .heading {
      font-weight: bold;
      color: "#2f3640";
      font-size: 30px;
      text-align: center;
    }

    .msgStyle {
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
    }
  </style>
  <div class="mainconatiner">
    <div class="subcontainer">
      <form action="/product/editdata" method="post">
        <div class="heading">Product interface</div>
        <div class="row">
          <div class="input-field col s3">
            <input
              id="productid"
              name="productid"
              type="text"
              class="validate"
              readonly
              value="<%=data.productid%>"
            />
            <label for="productid">Product Id</label>
          </div>
          <div class="input-field col s3">
            <select
              id="categoryid"
              name="categoryid"
              value="<%=data.categoryid%>"
            >
              <option value="" disabled>Choose your option</option>
            </select>
            <label>Category</label>
          </div>
          <div class="input-field col s3">
            <select
              id="subcategoryid"
              name="subcategoryid"
              value="<%=data.subcategoryid%>"
            >
              <option value="" disabled>Choose your option</option>
            </select>
            <label>Sub-Category</label>
          </div>
          <div class="input-field col s3">
            <input
              id="color"
              name="color"
              type="text"
              class="validate"
              value="<%=data.color%>"
            />
            <label for="color">Color</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input
              id="productname"
              name="productname"
              type="text"
              class="validate"
              value="<%=data.productname%>"
            />
            <label for="productname">Product Name</label>
          </div>
          <div class="input-field col s6">
            <input
              id="size"
              name="size"
              type="text"
              class="validate"
              value="<%=data.size%>"
            />
            <label for="size">Size</label>
          </div>
        </div>
        <div class="input-field col s12">
          <textarea
            id="description"
            name="description"
            class="materialize-textarea"
          >
<%=data.description%></textarea
          >
          <label for="description">Description</label>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <input
              id="price"
              name="price"
              type="text"
              class="validate"
              value="<%=data.price%>"
            />
            <label for="price">Price</label>
          </div>
          <div class="input-field col s4">
            <input
              id="offerprice"
              name="offerprice"
              type="text"
              class="validate"
              value="<%=data.offerprice%>"
            />
            <label for="offerprice">offerprice</label>
          </div>
          <div class="input-field col s4">
            <input
              id="stock"
              name="stock"
              type="text"
              class="validate"
              value="<%=data.stock%>"
            />
            <label for="stock">Stock</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <label>
              <input name="status" type="radio" value="available"
              <%=data.status=="available"?'checked':""%> />
              <span>Available</span>
            </label>
          </div>
          <div class="input-field col s6">
            <label>
              <input name="status" type="radio" value="not available"
              <%=data.status=="not available"?'checked':""%>/>
              <span>Not Available</span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 center">
            <button
              class="btn waves-effect waves-light"
              type="submit"
              name="action"
            >
              Edit
              <i class="material-icons right">edit</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
